body {
     margin: 0;
     /*background-color: #7b4397;*/
     background-repeat:no-repeat;
     background-position: center;
     max-height: 100%;
     background-image: url("../images/bookshelves.jpg");
  /* fallback for old browsers */
  background: url("../images/bookshelves.jpg"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  /* Chrome 10-25, Safari 5.1-6 */
  background: url("../images/bookshelves.jpg"), linear-gradient(to left, #7b4397, #dc2430);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

h1 {
  font-size: 80px;
  text-shadow: 1px 4px #555252;
}

h3 {
  font-size: 40px !important;
  color: white !important;
  font-weight: bold !important;
  text-shadow: 1px 4px #555252 !important;
}

.well {
	background-color: rgba(150,150,150,0.85);
	color: black;
  border: none;
  margin: 30px;
}

.panel {
  background-color: rgba(150,150,150,0.85);
}


#bookshelves {
	max-width: 90%;
	max-height: 90%;
}
	
